body{font-family: 'Concert One', cursive;}
.bg-purewhite{background-color: #ffffff;}
.bg-nav{background-color: #e7e7e7;}
.bg-black{background-color: #000000;}
.parasection p{font-family: 'Poppins', sans-serif; font-size: 16px; line-height: 32px;}
.customheader{font-size: 26px; line-height: 32px;}
.customheader2{font-size: 18px; line-height: 32px;}
.custombutton{border-radius: 25px;}
.contactus-section{background-image: url(../images/contactus.jpg); background-size: 100%; background-repeat:no-repeat;}
.footer-section p{font-family: 'Poppins', sans-serif; font-size: 12px;}
.text-purewhite{font: outline;}
.header-section .navbar button{border: none; box-shadow: none;
}

@media(max-width:767px){
    .header-section .navbar-brand img {
        width: 150px;
    }
}

@media(max-width:767px){
    .header-section .navbar #btn {
        width: 50%;
    }
}